@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

body, html{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  font-family: 'Readex Pro', sans-serif;
  overflow: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    padding: 20px;
}

.list-group-item{
    padding: 10px;
}
.navTxt{
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.2em;
}

.navTxt:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: #fff;
}


/*Home*/
.nav a:nth-child(1):hover{
   transform: translateY(15px);
   transition: all 0.2s ease-in-out;
   filter: sepia(100%);
   box-shadow: 1px 1px 10px #66553fa9;
   border-radius: 30%;
}
 /*About*/ 
.nav a:nth-child(2):hover{
   transform: translateY(15px);
   transition: all 0.2s ease-in-out;
   filter: sepia(100%);
   box-shadow: 1px 1px 10px #66553fa9;
   border-radius: 30%;
}
/*Work*/
.nav a:nth-child(3):hover{
   transform: translateY(15px);
   transition: all 0.2s ease-in-out;
   filter: sepia(100%);
   box-shadow: 1px 1px 10px #66553fa9;
   border-radius: 30%;
}
/*Contact*/  
.nav a:nth-child(4):hover{
   transform: translateY(15px);
   transition: all 0.2s ease-in-out;
   filter: sepia(100%);
   box-shadow: 1px 1px 10px #66553fa9;
   border-radius: 30%;
}
  
